<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user-list" routerLink="/pages/user-list/user-list.module">
      <ion-icon name="list"></ion-icon>
      <ion-label>User-List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" routerLink="/pages/admin/admin.module">
      <ion-icon name="list"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" routerLink="/pages-event/admin/admin.module">
      <ion-icon name="list"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" routerLink="/transaction/admin/admin.module">
      <ion-icon name="ticket"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" routerLink="/profil/profil.module">
      <ion-icon name="people"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
