<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" routerLink="/pages/user/user.module">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions" routerLink="/pages-event/user/user.module">
      <ion-icon name="ticket"></ion-icon>
      <ion-label>Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" routerLink="/profil/profil.module">
      <ion-icon name="people"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
